{
  "extends": "@antfu",
  "rules": {
    "unicorn/prefer-node-protocol": "off"
  },
  "overrides": [
    {
      "files": ["**/fixtures/**"],
      "rules": {
        "no-console": "off"
      }
    }
  ]
}
