.DS_STORE
.profile
.idea
*.log*
coverage
dist
node_modules
temp
.eslintcache

# docs
docs/showcase/*.md
!docs/showcase/index.md
docs/.vitepress/cache
docs/.vitepress/components.d.ts
docs/.env
docs/.vitepress/data/repository.json
.vercel
