name: ci

on:
  push:
    branches:
      - main
      - 'v*'
  pull_request:
    branches:
      - main
      - 'v*'

permissions: {}

jobs:
  unit-test:
    uses: sxzz/workflows/.github/workflows/unit-test.yml@v1
    with:
      os-matrix: '"ubuntu-latest", "windows-latest"'
      typecheck: pnpm run build && pnpm run typecheck

  unit-test-bun:
    runs-on: ubuntu-latest
    steps:
      - name: Setup JS
        uses: sxzz/workflows/setup-js@v1

      - name: Setup Bun
        uses: oven-sh/setup-bun@3d267786b128fe76c2f16a390aa2448b815359f3 # v2.1.2
        with:
          bun-version: latest

      - name: Build
        run: pnpm run build

      - name: Test with bun
        run: bun run scripts/buildFixtures.ts && bun -b vitest --allowOnly
